<template>
  <div class="container-fluid">
    <v-card class="p-5 pt-2 mt-5 mb-5">
      <div class="row mt-5">
        <div class="col-4">
          <number-displayer :deviceSlot="deviceSlot" />
        </div>
      </div>
    </v-card>
  </div>
</template>

<script>
import NumberDisplayer from "@/components/Monitoring/Displayers/Number.vue";
export default {
  name: "latest-component",
  components: {
    NumberDisplayer,
  },
  data: () => ({
    deviceSlot: {
      id: 244,
      name: "Pulsos",
      displayModeId: 5,
      layoutConfiguration: {
        title: "Pulsos",
        symbol: null,
        icon: "mdi-numeric",
      },
      slots: [
        {
          id: 129,
          alias: "Pulsos",
          deviceId: 55,
          unitOfMeasurementId: 65,
          parameterName: "pulses",
          configuration: null,
          deviceIdentifier: "0095641fda91190b",
          deviceAlias: "safeko-0001",
          lastMeasurement: {
            id: 742314,
            calibrated_measurement: "967396.0000",
            timestamp: "2022-02-24 07:24:54",
          },
        },
      ],
    },
  }),
};
</script>

<style>
</style>