<template>
  <div class="container-fluid">
    <v-tabs v-model="tab">
      <v-tab>Latest</v-tab>
    </v-tabs>
    <v-tabs-items v-model="tab">
      <v-tab-item>
        <latest-component />
      </v-tab-item>
    </v-tabs-items>
  </div>
</template>

<script>
import LatestComponent from "@/components/Monitoring/Latest.vue";

export default {
  components: { LatestComponent },
  name: "monitoring-component",
  data: () => ({
    tab: 0,
  }),
};
</script>

<style>
</style>