<template>
  <div>
    <v-card elevation="5" class="rounded-lg monitoring-card">
      <div class="displayer-header">
        <v-icon
          color="primary"
          size="20"
          v-if="!deviceSlot.layoutConfiguration.icon"
        >
          mdi-numeric</v-icon
        >
        <v-icon
          color="#23c577"
          size="20"
          v-if="deviceSlot.layoutConfiguration.icon"
        >
          {{ deviceSlot.layoutConfiguration.icon }}</v-icon
        >
        <h4 v-text="deviceSlot.layoutConfiguration.title"></h4>
      </div>
      <template v-if="timestamp">
        <div class="measurement">
          <p class="text-center number">{{ measurementDisplayed }}<br /></p>
          <p class="text-center symbol">
            {{ deviceSlot.layoutConfiguration.symbol }}<br />
          </p>
        </div>
        <p class="text-center timestamp">{{ timestamp }}</p>
      </template>
      <template v-else>
        <p class="text-center no-data">No data available</p>
      </template>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "number-displayer",
  props: {
    deviceSlot: Object,
  },
  watch: {
    deviceSlot: function () {
      this.measurement = null;
      clearInterval(this.interval);
      this.setComponent();
    },
  },
  computed: {
    measurementDisplayed() {
      return this.trunc(this.measurement, 2);
    },
  },
  data() {
    return {
      measurement: null,
      timestamp: "",
      interval: null,
    };
  },
  methods: {
    setComponent() {
      this.getSlotMeasurement();
      this.interval = setInterval(() => this.getSlotMeasurement(), 30000);
    },
    getSlotMeasurement() {
      this.$store
        .dispatch("monitoring/getSlotMeasurement", this.deviceSlot.slots[0].id)
        .then((data) => {
          if (data.measurement) {
            this.measurement = Number(data.measurement.calibrated_measurement);
            this.timestamp = data.measurement.timestamp;
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    trunc(x, posiciones = 0) {
      var s = x.toString();
      var l = s.length;
      var decimalLength = s.indexOf(".") + 1;

      if (l - decimalLength <= posiciones) {
        return x;
      }
      // Parte decimal del número
      var isNeg = x < 0;
      var decimal = x % 1;
      var entera = isNeg ? Math.ceil(x) : Math.floor(x);
      // Parte decimal como número entero
      // Ejemplo: parte decimal = 0.77
      // decimalFormated = 0.77 * (10^posiciones)
      // si posiciones es 2 ==> 0.77 * 100
      // si posiciones es 3 ==> 0.77 * 1000
      var decimalFormated = Math.floor(
        Math.abs(decimal) * Math.pow(10, posiciones)
      );
      // Sustraemos del número original la parte decimal
      // y le sumamos la parte decimal que hemos formateado
      var finalNum =
        entera +
        (decimalFormated / Math.pow(10, posiciones)) * (isNeg ? -1 : 1);

      return finalNum;
    },
  },
  mounted() {
    this.setComponent();
  },
  beforeDestroy() {
    clearInterval(this.interval);
  },
};
</script>
<style scoped lang="sass">
@import '@/assets/sass/Monitoring/monitoring.sass'
</style>