.monitoring-card
    padding: 5px
    height: 150px
    display: flex !important
    flex-direction: column
    justify-content: space-around
    align-items: center
    margin-bottom: 15px
    @media screen and ( min-width: 1200px )
        height: 200px
    @media screen and ( min-width: 1904px )
        margin-bottom: 20px
    .displayer-header
        display: flex
        align-items: center
        justify-content: center
    h4
        font-size: 17px
        font-weight: 300
        text-align: center
        @media screen and ( min-width: 992px )
            font-size: 17px
            font-weight: 300
        @media screen and ( min-width: 1200px )
            font-size: 20px
            font-weight: 300
    .measurement
        display: flex
        .number
            margin: 0 0 10px 0
            font-size: 35px
            font-weight: 300
        .symbol
            margin: 0 0 0 5px
            font-size: 25px
            font-weight: 200

.chart-header
    display: flex
    justify-content: space-between
    align-items: center
    button
        background-color: transparent !important
        &:hover
            background-color: transparent !important
        div
            color: #000000
