<template>
  <div class="container-fluid">
    <v-tabs v-model="tab">
      <v-tab>Details</v-tab>
      <v-tab>Configuration</v-tab>
      <v-tab>Slots</v-tab>
      <v-tab>Monitoring</v-tab>
      <v-tab>Event Listener</v-tab>
      <v-tab>Streaming</v-tab>
    </v-tabs>
    <v-tabs-items v-model="tab">
      <v-tab-item>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
        deleniti dignissimos fuga veniam rerum cupiditate quas provident
        necessitatibus neque sed maiores voluptatibus, enim corrupti sit
        explicabo adipisci iure consequatur reiciendis?
      </v-tab-item>
      <v-tab-item>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
        deleniti dignissimos fuga veniam rerum cupiditate quas provident
        necessitatibus neque sed maiores voluptatibus, enim corrupti sit
        explicabo adipisci iure consequatur reiciendis?
      </v-tab-item>
      <v-tab-item>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
        deleniti dignissimos fuga veniam rerum cupiditate quas provident
        necessitatibus neque sed maiores voluptatibus, enim corrupti sit
        explicabo adipisci iure consequatur reiciendis?
      </v-tab-item>
      <v-tab-item><monitoring-component /> </v-tab-item>
      <v-tab-item>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
        deleniti dignissimos fuga veniam rerum cupiditate quas provident
        necessitatibus neque sed maiores voluptatibus, enim corrupti sit
        explicabo adipisci iure consequatur reiciendis?
      </v-tab-item>
      <v-tab-item>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
        deleniti dignissimos fuga veniam rerum cupiditate quas provident
        necessitatibus neque sed maiores voluptatibus, enim corrupti sit
        explicabo adipisci iure consequatur reiciendis?
      </v-tab-item>
    </v-tabs-items>
  </div>
</template>

<script>
import MonitoringComponent from "@/components/Monitoring/Monitoring.vue";
export default {
  name: "monitoring-page",
  components: {
    MonitoringComponent,
  },
  data: () => ({
    tab: 3,
  }),
};
</script>

<style>
</style>