<template>
  <div class="container-fluid">
    <div class="row justify-center align-center w-100">
      <div class="col-1">
        <button type="button" class="btn btn-success">
          Probando Bootstrap
        </button>
      </div>
    </div>

    <v-btn depressed color="primary"> Probando Vuetify </v-btn>
  </div>
</template>