<template>
  <v-app>
    <side-bar></side-bar>
    <v-main>
      <title-bar></title-bar>
      <v-breadcrumbs :items="items" divider="/"></v-breadcrumbs>
      <monitoring-page />
    </v-main>
  </v-app>
</template>

<script>
import SideBar from "@/components/UI/SideBar.vue";
import TitleBar from "@/components/UI/TitleBar.vue";
import MonitoringPage from "@/Pages/Monitoring.vue";
export default {
  name: "App",
  data: () => ({
    items: [
      {
        text: "Devices",
        disabled: false,
        href: "breadcrumbs_dashboard",
      },
      {
        text: "Monitoring",
        disabled: true,
        href: "breadcrumbs_link_1",
      },
    ],
  }),
  components: {
    SideBar,
    TitleBar,
    MonitoringPage,
  },

  methods: {
    getInfo() {
      this.axios.get("https://www.scorebat.com/video-api/v1").then((res) => {
        console.log(res.data);
      });
    },
  },

  mounted() {
    this.getInfo();
  },
};
</script>

<style lang="sass">
@import './assets/sass/app.scss'
</style>