<template>
  <div class="container-fluid pt-6">
    <div class="row w-100 justify-space-between">
      <div class="col-3">
        <h1>Monitoring</h1>
      </div>
      <div class="col-5">
        <div class="row justify-end">
          <div class="col-1">
            <v-icon color="primary" size="20">mdi-view-dashboard</v-icon>
          </div>
          <div class="col-1">
            <v-icon color="primary" size="20">mdi-bell</v-icon>
          </div>
          <div class="col-1">
            <v-icon color="primary" size="20">mdi-account</v-icon>
          </div>
          <div class="col-1">
            <v-icon color="primary" size="20">mdi-power</v-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="sass" scoped>
@import '@/assets/sass/UI/title-bar.sass'
</style>>